In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime as datetime
import time
TrainingPath1 = "/content/gdrive/MyDrive/Project Dataset/yellow_tripdata_2020-01.csv"
TrainingPath2 = "/content/gdrive/MyDrive/Project Dataset/yellow_tripdata_2020-02.csv"
TrainingPath3 = "/content/gdrive/MyDrive/Project Dataset/yellow_tripdata_2020-03.csv"
LookUpPath = "/content/gdrive/MyDrive/Project Dataset/taxi_zone_lookup.csv"

In [3]:
df1 = pd.read_csv(TrainingPath3)
df1

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         VendorID tpep_pickup_datetime  ... total_amount  congestion_surcharge
0             1.0  2020-03-01 00:31:13  ...        27.80                   2.5
1             2.0  2020-03-01 00:08:22  ...         3.80                   0.0
2             1.0  2020-03-01 00:52:18  ...        11.75                   2.5
3             2.0  2020-03-01 00:47:53  ...        10.56                   2.5
4             1.0  2020-03-01 00:43:19  ...        24.35                   2.5
...           ...                  ...  ...          ...                   ...
3007287       NaN  2020-03-31 23:21:00  ...        33.77                   2.5
3007288       NaN  2020-03-31 23:57:00  ...        41.27                   2.5
3007289       NaN  2020-03-31 23:22:01  ...        39.90                   2.5
3007290       NaN  2020-03-31 23:18:53  ...        22.87                   2.5
3007291       NaN  2020-03-31 23:11:00  ...        24.20                   0.0

[3007292 rows x 18 columns]

In [4]:
#df2 = pd.read_csv(TrainingPath2)
#df2.head()

In [5]:
#df3 = pd.read_csv(TrainingPath3)
#df3.head()

In [6]:
#Using the dataset of months jan, feb and march of 2020
Main_df = pd.concat([df1])
Main_df.shape

(3007292, 18)

In [7]:
Main_df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [8]:
Main_df.describe()

           VendorID  passenger_count  ...  total_amount  congestion_surcharge
count  2.969805e+06     2.969805e+06  ...  3.007292e+06          3.007292e+06
mean   1.667242e+00     1.467486e+00  ...  1.884122e+01          2.241648e+00
std    4.712009e-01     1.120098e+00  ...  6.945971e+02          7.841027e-01
min    1.000000e+00     0.000000e+00  ... -1.260300e+03         -2.500000e+00
25%    1.000000e+00     1.000000e+00  ...  1.116000e+01          2.500000e+00
50%    2.000000e+00     1.000000e+00  ...  1.430000e+01          2.500000e+00
75%    2.000000e+00     1.000000e+00  ...  1.985000e+01          2.500000e+00
max    2.000000e+00     9.000000e+00  ...  1.000004e+06          2.500000e+00

[8 rows x 15 columns]

In [9]:
Main_df.shape

(3007292, 18)

In [10]:
#NullValues
Main_df.isnull()

         VendorID  tpep_pickup_datetime  ...  total_amount  congestion_surcharge
0           False                 False  ...         False                 False
1           False                 False  ...         False                 False
2           False                 False  ...         False                 False
3           False                 False  ...         False                 False
4           False                 False  ...         False                 False
...           ...                   ...  ...           ...                   ...
3007287      True                 False  ...         False                 False
3007288      True                 False  ...         False                 False
3007289      True                 False  ...         False                 False
3007290      True                 False  ...         False                 False
3007291      True                 False  ...         False                 False

[3007292 rows x 18 columns]

In [11]:
#Data Cleaning on Location
#NewYork city LOcation IDs are in range = (1, 263)
#src = https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

Main_df = Main_df[((Main_df['PULocationID']>=1) & (Main_df['PULocationID']<=263)) & ((Main_df['DOLocationID']>=1) & (Main_df['DOLocationID']<=263))]
print("Shape of the data points after preprocessing on Location: ", Main_df.shape)

Shape of the data points after preprocessing on Location:  (2975588, 18)

In [12]:
len(Main_df['tpep_pickup_datetime'].values)

2975588

In [13]:
#Data Cleaning on Trip Duration

#Pickup Time
pickup_time = []
for str in Main_df['tpep_pickup_datetime'].values:
  d = time.mktime(datetime.datetime.strptime(str, "%Y-%m-%d %H:%M:%S").timetuple())
  pickup_time.append(d)

In [14]:
print(pickup_time[0:100])

[1583022673.0, 1583021302.0, 1583023938.0, 1583023673.0, 1583023399.0, 1583021083.0, 1583023401.0, 1583023895.0, 1583021622.0, 1583022305.0, 1583022787.0, 1583023622.0, 1583020864.0, 1583021743.0, 1583020808.0, 1583021683.0, 1583024216.0, 1583020885.0, 1583022074.0, 1583022935.0, 1583024105.0, 1583022563.0, 1583023068.0, 1583021122.0, 1583022548.0, 1583022103.0, 1583023572.0, 1583021311.0, 1583021021.0, 1583024227.0, 1583022841.0, 1583023789.0, 1583021398.0, 1583023336.0, 1583021644.0, 1583023693.0, 1583022884.0, 1583024279.0, 1583021921.0, 1583023067.0, 1583023013.0, 1583023264.0, 1583024213.0, 1583022581.0, 1583021290.0, 1583021965.0, 1583023432.0, 1583020890.0, 1583021655.0, 1583022316.0, 1583021409.0, 1583023755.0, 1583023740.0, 1583022383.0, 1583023485.0, 1583023246.0, 1583024280.0, 1583021460.0, 1583023587.0, 1583021071.0, 1583022309.0, 1583023618.0, 1583022483.0, 1583020934.0, 1583022734.0, 1583023833.0, 1583022231.0, 1583023407.0, 1583023699.0, 1583021113.0, 1583022361.0, 1583022954.0, 1583024377.0, 1583023672.0, 1583021832.0, 1583021905.0, 1583023142.0, 1583022700.0, 1583024359.0, 1583020882.0, 1583022965.0, 1583023707.0, 1583021156.0, 1583021781.0, 1583022605.0, 1583020800.0, 1583022827.0, 1583024399.0, 1583021179.0, 1583021661.0, 1583022137.0, 1583022448.0, 1583023386.0, 1583024283.0, 1583021412.0, 1583022248.0, 1583022949.0, 1583024304.0, 1583022203.0, 1583021156.0]

In [15]:
#Calculating Drop off time
dropoff_time = []
for str in Main_df['tpep_dropoff_datetime'].values:
  d = time.mktime(datetime.datetime.strptime(str, "%Y-%m-%d %H:%M:%S").timetuple())
  dropoff_time.append(d)

In [16]:
print(dropoff_time[0:100])

[1583024502.0, 1583021329.0, 1583024356.0, 1583023857.0, 1583024307.0, 1583022197.0, 1583025276.0, 1583024417.0, 1583022180.0, 1583022666.0, 1583023398.0, 1583024375.0, 1583021649.0, 1583023617.0, 1583021326.0, 1583023020.0, 1583025227.0, 1583021281.0, 1583022647.0, 1583023381.0, 1583024482.0, 1583022764.0, 1583023879.0, 1583022215.0, 1583023657.0, 1583022788.0, 1583024151.0, 1583022001.0, 1583021965.0, 1583025130.0, 1583023306.0, 1583024715.0, 1583021769.0, 1583024360.0, 1583022026.0, 1583024031.0, 1583023162.0, 1583024676.0, 1583022638.0, 1583023337.0, 1583023176.0, 1583023545.0, 1583026097.0, 1583024541.0, 1583021470.0, 1583022187.0, 1583024129.0, 1583021535.0, 1583022226.0, 1583023500.0, 1583022259.0, 1583026067.0, 1583024489.0, 1583023213.0, 1583025717.0, 1583023642.0, 1583025183.0, 1583022439.0, 1583025072.0, 1583021474.0, 1583023401.0, 1583025110.0, 1583023574.0, 1583021843.0, 1583023542.0, 1583025083.0, 1583023290.0, 1583023531.0, 1583024208.0, 1583022020.0, 1583022760.0, 1583024169.0, 1583024982.0, 1583023792.0, 1583022950.0, 1583023017.0, 1583023974.0, 1583023467.0, 1583025367.0, 1583021755.0, 1583023296.0, 1583024756.0, 1583021487.0, 1583022038.0, 1583023942.0, 1583022248.0, 1583023944.0, 1583025468.0, 1583021490.0, 1583022072.0, 1583022378.0, 1583022768.0, 1583023713.0, 1583024706.0, 1583022031.0, 1583022814.0, 1583023717.0, 1583024637.0, 1583024106.0, 1583021523.0]

In [17]:
durations = abs((np.array(dropoff_time) - np.array(pickup_time))/float(60))
Main_df['trip_duration'] = durations
print(Main_df.head())

   VendorID tpep_pickup_datetime  ... congestion_surcharge  trip_duration
0       1.0  2020-03-01 00:31:13  ...                  2.5      30.483333
1       2.0  2020-03-01 00:08:22  ...                  0.0       0.450000
2       1.0  2020-03-01 00:52:18  ...                  2.5       6.966667
3       2.0  2020-03-01 00:47:53  ...                  2.5       3.066667
4       1.0  2020-03-01 00:43:19  ...                  2.5      15.133333

[5 rows x 19 columns]

In [18]:
#Percentiles
duration_at_01=Main_df['trip_duration'].quantile(0.1)
print(duration_at_01) #trip duration at 1 percentile

duration_at_09=Main_df['trip_duration'].quantile(0.9)
print(duration_at_09) #trip duration at 90 percentile

duration_at_99=Main_df['trip_duration'].quantile(0.99)
print(duration_at_99) #trip duration at 99.0 percentile

duration_at_999=Main_df['trip_duration'].quantile(0.999)
print(duration_at_999) #trip duration at 99.9 percentile

3.9
25.45
53.766666666666666
1412.7

In [19]:
#Boxplot before cleaning
sns.boxenplot(y='trip_duration', data=Main_df)

In [20]:
Main_df = Main_df[(Main_df['trip_duration']>1) & (Main_df['trip_duration']<720)]
print(Main_df)

         VendorID tpep_pickup_datetime  ... congestion_surcharge  trip_duration
0             1.0  2020-03-01 00:31:13  ...                  2.5      30.483333
2             1.0  2020-03-01 00:52:18  ...                  2.5       6.966667
3             2.0  2020-03-01 00:47:53  ...                  2.5       3.066667
4             1.0  2020-03-01 00:43:19  ...                  2.5      15.133333
5             1.0  2020-03-01 00:04:43  ...                  2.5      18.566667
...           ...                  ...  ...                  ...            ...
3007287       NaN  2020-03-31 23:21:00  ...                  2.5      12.000000
3007288       NaN  2020-03-31 23:57:00  ...                  2.5      29.000000
3007289       NaN  2020-03-31 23:22:01  ...                  2.5      21.850000
3007290       NaN  2020-03-31 23:18:53  ...                  2.5      13.466667
3007291       NaN  2020-03-31 23:11:00  ...                  0.0      19.000000

[2945314 rows x 19 columns]

In [21]:
#Boxplot after cleaning
sns.boxenplot(y='trip_duration', data=Main_df)

In [22]:
#Dstribution plot for trip duration
sns.displot(Main_df, x="trip_duration", kind="kde")

In [23]:
#Cleaning on Speed
Main_df['speed'] = 60*(Main_df['trip_distance']/Main_df['trip_duration'])
print(Main_df)

         VendorID tpep_pickup_datetime  ... trip_duration      speed
0             1.0  2020-03-01 00:31:13  ...     30.483333   9.250957
2             1.0  2020-03-01 00:52:18  ...      6.966667   9.473684
3             2.0  2020-03-01 00:47:53  ...      3.066667  17.021739
4             1.0  2020-03-01 00:43:19  ...     15.133333  17.444934
5             1.0  2020-03-01 00:04:43  ...     18.566667  11.310592
...           ...                  ...  ...           ...        ...
3007287       NaN  2020-03-31 23:21:00  ...     12.000000  27.150000
3007288       NaN  2020-03-31 23:57:00  ...     29.000000  27.331034
3007289       NaN  2020-03-31 23:22:01  ...     21.850000  33.336384
3007290       NaN  2020-03-31 23:18:53  ...     13.466667  31.232673
3007291       NaN  2020-03-31 23:11:00  ...     19.000000  19.926316

[2945314 rows x 20 columns]

In [24]:
#Percentiles for speed
speed_at_00=Main_df['speed'].quantile(0.00)
print(speed_at_00) #speed at 0 percentile

speed_at_01=Main_df['speed'].quantile(0.1)
print(speed_at_01) #speed at 1 percentile

speed_at_09=Main_df['speed'].quantile(0.9)
print(speed_at_09) #speed at 90 percentile

speed_at_99=Main_df['speed'].quantile(0.99)
print(speed_at_99) #speed at 99.0 percentile

speed_at_999=Main_df['speed'].quantile(0.999)
print(speed_at_999) #speed at 99.9 percentile

speed_at_9999=Main_df['speed'].quantile(0.9999)
print(speed_at_9999) #speed at 99.99 percentile

speed_at_99999=Main_df['speed'].quantile(0.99999)
print(speed_at_99999) #speed at 99.999 percentile

0.0
6.171428571428572
20.0
37.103517680142005
47.577801830947536
58.57401285254454
557.4106857153986

In [25]:
#Boxplot before cleaning
sns.boxenplot(y='speed', data=Main_df)

In [26]:
Main_df = Main_df[(Main_df['speed']>0) & (Main_df['speed']<56.225679661650766)]
print(Main_df)

         VendorID tpep_pickup_datetime  ... trip_duration      speed
0             1.0  2020-03-01 00:31:13  ...     30.483333   9.250957
2             1.0  2020-03-01 00:52:18  ...      6.966667   9.473684
3             2.0  2020-03-01 00:47:53  ...      3.066667  17.021739
4             1.0  2020-03-01 00:43:19  ...     15.133333  17.444934
5             1.0  2020-03-01 00:04:43  ...     18.566667  11.310592
...           ...                  ...  ...           ...        ...
3007287       NaN  2020-03-31 23:21:00  ...     12.000000  27.150000
3007288       NaN  2020-03-31 23:57:00  ...     29.000000  27.331034
3007289       NaN  2020-03-31 23:22:01  ...     21.850000  33.336384
3007290       NaN  2020-03-31 23:18:53  ...     13.466667  31.232673
3007291       NaN  2020-03-31 23:11:00  ...     19.000000  19.926316

[2933058 rows x 20 columns]

In [27]:
#Boxplot after cleaning
sns.boxenplot(y='speed', data=Main_df)

In [28]:
#Cleaning on total amount
#Before cleaning on total amount
sns.boxenplot(y='total_amount', data=Main_df)

In [29]:
#Percentiles for Total amount
ta_at_00=Main_df['total_amount'].quantile(0.00)
print(ta_at_00) #total_amount at 0 percentile

ta_at_09=Main_df['total_amount'].quantile(0.9)
print(ta_at_09) #total_amount at 90 percentile

ta_at_99=Main_df['total_amount'].quantile(0.99)
print(ta_at_99) #total_amount at 99.0 percentile

ta_at_999=Main_df['total_amount'].quantile(0.999)
print(ta_at_999) #total_amount at 99.9 percentile

ta_at_9999=Main_df['total_amount'].quantile(0.9999)
print(ta_at_9999) #total_amount at 99.99 percentile

ta_at_999999=Main_df['total_amount'].quantile(0.999999)
print(ta_at_999999) #total_amount at 99.9999 percentile

ta_at_9999999=Main_df['total_amount'].quantile(0.9999999)
print(ta_at_9999999) #total_amount at 99.99999 percentile

ta_at_100=Main_df['total_amount'].quantile(1)
print(ta_at_100) #total_amount at 100 percentile

-502.02
30.29
73.67
97.73829000001308
138.33471499998123
634.0644703713152
474505.67711435794
671103.17

In [30]:
Main_df = Main_df[(Main_df['total_amount']>0) & (Main_df['total_amount']<= 585.2633575955033)]
print(Main_df)

         VendorID tpep_pickup_datetime  ... trip_duration      speed
0             1.0  2020-03-01 00:31:13  ...     30.483333   9.250957
2             1.0  2020-03-01 00:52:18  ...      6.966667   9.473684
3             2.0  2020-03-01 00:47:53  ...      3.066667  17.021739
4             1.0  2020-03-01 00:43:19  ...     15.133333  17.444934
5             1.0  2020-03-01 00:04:43  ...     18.566667  11.310592
...           ...                  ...  ...           ...        ...
3007287       NaN  2020-03-31 23:21:00  ...     12.000000  27.150000
3007288       NaN  2020-03-31 23:57:00  ...     29.000000  27.331034
3007289       NaN  2020-03-31 23:22:01  ...     21.850000  33.336384
3007290       NaN  2020-03-31 23:18:53  ...     13.466667  31.232673
3007291       NaN  2020-03-31 23:11:00  ...     19.000000  19.926316

[2924175 rows x 20 columns]

In [31]:
#After cleaning on total amount
sns.boxenplot(y='total_amount', data=Main_df)

In [32]:
#Cleaning on Distance
#Before cleaning 
sns.boxenplot(y='trip_distance', data=Main_df)

In [33]:
#Percentiles for Total amount
td_at_00=Main_df['trip_distance'].quantile(0.00)
print(td_at_00) #trip_distance at 0 percentile

td_at_09=Main_df['trip_distance'].quantile(0.9)
print(td_at_09) #trip_distance at 90 percentile

td_at_99=Main_df['trip_distance'].quantile(0.99)
print(td_at_99) #trip_distance at 99.0 percentile

td_at_999=Main_df['trip_distance'].quantile(0.999)
print(td_at_999) #trip_distance at 99.9 percentile

td_at_9999=Main_df['trip_distance'].quantile(0.9999)
print(td_at_9999) #trip_distance at 99.99 percentile

td_at_999999=Main_df['trip_distance'].quantile(0.999999)
print(td_at_999999) #trip_distance at 99.9999 percentile

td_at_9999999=Main_df['trip_distance'].quantile(0.9999999)
print(td_at_9999999) #trip_distance at 99.99999 percentile

td_at_100=Main_df['trip_distance'].quantile(1)
print(td_at_100) #trip_distance at 100 percentile

0.01
6.44
18.71
25.0682600000035
35.28747799999546
101.89857379994355
149.92492512464523
153.2

In [34]:
Main_df = Main_df[(Main_df['trip_distance']>0) & (Main_df['trip_distance']<= 33.2935949999839)]
print(Main_df)

         VendorID tpep_pickup_datetime  ... trip_duration      speed
0             1.0  2020-03-01 00:31:13  ...     30.483333   9.250957
2             1.0  2020-03-01 00:52:18  ...      6.966667   9.473684
3             2.0  2020-03-01 00:47:53  ...      3.066667  17.021739
4             1.0  2020-03-01 00:43:19  ...     15.133333  17.444934
5             1.0  2020-03-01 00:04:43  ...     18.566667  11.310592
...           ...                  ...  ...           ...        ...
3007287       NaN  2020-03-31 23:21:00  ...     12.000000  27.150000
3007288       NaN  2020-03-31 23:57:00  ...     29.000000  27.331034
3007289       NaN  2020-03-31 23:22:01  ...     21.850000  33.336384
3007290       NaN  2020-03-31 23:18:53  ...     13.466667  31.232673
3007291       NaN  2020-03-31 23:11:00  ...     19.000000  19.926316

[2923798 rows x 20 columns]

In [35]:
#After cleaning on trip_distance
sns.boxenplot(y='trip_distance', data=Main_df)

In [36]:

average_speed = sum(Main_df['speed'])/float(len(Main_df['speed']))
print(average_speed)

#11.691415935750623 is covered in 1 Hours, so approx 3 miles will be covered in 15 minutes.

12.132872725232353

In [37]:
import pandas as pd
from geopy.exc import GeocoderTimedOut 
from geopy.geocoders import Nominatim

In [38]:
df = pd.read_csv(LookUpPath)
LookUp_df = df[0:263]
LookUp_df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
258         259          Bronx       Woodlawn/Wakefield    Boro Zone
259         260         Queens                 Woodside    Boro Zone
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone

[263 rows x 4 columns]

In [39]:
Zone_list = []
zone_split_list = LookUp_df['Zone'].str.split(pat = "/")
for i in range(len(zone_split_list)):
  if(len(zone_split_list[i])>1):
    Zone_list.append(zone_split_list[i][0])

  else:
    Zone_list.append(zone_split_list[i][0])
  
len(Zone_list)

263

In [40]:
LookUp_df['Zone_unique'] = Zone_list

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [41]:
LookUp_df = LookUp_df.drop(['Zone'], axis=1)

In [42]:
Latitude = []
Longitude = []
geolocator = Nominatim(user_agent="Machine Learning Project", timeout = 10)
for str in LookUp_df['Zone_unique']:
  if geolocator.geocode(str)!= None:
    Latitude.append(geolocator.geocode(str).latitude)
    Longitude.append(geolocator.geocode(str).longitude)

  else:
    Latitude.append(np.nan) 
    Longitude.append(np.nan)

In [43]:
LookUp_df['Latitude'] = Latitude
LookUp_df['Longitude'] = Longitude
print(LookUp_df.iloc[255]['Zone_unique'])
str="Williamsburg"
print(geolocator.geocode(str).latitude)
geolocator.geocode(str).longitude

Williamsburg (South Side)
37.27892105

-76.69448606443117

In [44]:
LookUp_df

     LocationID        Borough  ...   Latitude   Longitude
0             1            EWR  ...  40.689064  -74.177255
1             2         Queens  ...  40.603994  -73.835412
2             3          Bronx  ...  39.915319  -87.933215
3             4      Manhattan  ...  40.725102  -73.979583
4             5  Staten Island  ...  53.284833   -7.493904
..          ...            ...  ...        ...         ...
258         259          Bronx  ...  38.330050  -89.032569
259         260         Queens  ...  37.429939 -122.253856
260         261      Manhattan  ...  40.711888  -74.012441
261         262      Manhattan  ...  40.778007  -73.948202
262         263      Manhattan  ...  40.778007  -73.948202

[263 rows x 6 columns]

In [45]:
len(LookUp_df['Zone_unique'].unique())

254

In [46]:
LookUp_df.loc[255, 'Latitude'] = 37.27892105
LookUp_df.loc[255, 'Longitude'] = -76.69448606443117

In [47]:
LookUp_df[240:260]

     LocationID        Borough  ...   Latitude   Longitude
240         241          Bronx  ...  41.248694  -73.908586
241         242          Bronx  ...  40.848434  -73.863746
242         243      Manhattan  ...  40.840198  -73.940221
243         244      Manhattan  ...  40.883325  -72.515328
244         245  Staten Island  ...  40.578087  -73.974925
245         246      Manhattan  ...  37.915937  -96.785860
246         247          Bronx  ...  40.190987  -74.029083
247         248          Bronx  ...  40.192057  -74.201255
248         249      Manhattan  ...  40.734186  -74.005580
249         250          Bronx  ...  42.539702  -83.255017
250         251  Staten Island  ...  51.516541   -2.434635
251         252         Queens  ...  40.794546  -73.818467
252         253         Queens  ...  40.796708  -73.779396
253         254          Bronx  ...  40.877624  -73.877520
254         255       Brooklyn  ...  40.714622  -73.953450
255         256       Brooklyn  ...  37.278921  -76.694486
256         257       Brooklyn  ...  40.655785  -73.976544
257         258         Queens  ...  42.137052  -83.245107
258         259          Bronx  ...  38.330050  -89.032569
259         260         Queens  ...  37.429939 -122.253856

[20 rows x 6 columns]

In [48]:
LookUp_df_PULocation = LookUp_df.rename(columns={'LocationID': 'PULocationID'})
LookUp_df_PULocation = LookUp_df_PULocation.drop(['Borough', 'Zone_unique', 'service_zone'], axis=1)
LookUp_df_PULocation[240:260]

     PULocationID   Latitude   Longitude
240           241  41.248694  -73.908586
241           242  40.848434  -73.863746
242           243  40.840198  -73.940221
243           244  40.883325  -72.515328
244           245  40.578087  -73.974925
245           246  37.915937  -96.785860
246           247  40.190987  -74.029083
247           248  40.192057  -74.201255
248           249  40.734186  -74.005580
249           250  42.539702  -83.255017
250           251  51.516541   -2.434635
251           252  40.794546  -73.818467
252           253  40.796708  -73.779396
253           254  40.877624  -73.877520
254           255  40.714622  -73.953450
255           256  37.278921  -76.694486
256           257  40.655785  -73.976544
257           258  42.137052  -83.245107
258           259  38.330050  -89.032569
259           260  37.429939 -122.253856

In [49]:
Main_df_loc = Main_df.merge(LookUp_df_PULocation, on='PULocationID')
Main_df_loc_PU = Main_df_loc.rename(columns={'Latitude': 'PULatitude', 'Longitude':'PULongitude'})
Main_df_loc_PU

         VendorID tpep_pickup_datetime  ... PULatitude  PULongitude
0             1.0  2020-03-01 00:31:13  ...  40.707612   -74.009378
1             1.0  2020-03-01 00:05:44  ...  40.707612   -74.009378
2             2.0  2020-03-01 00:27:15  ...  40.707612   -74.009378
3             1.0  2020-03-01 00:29:40  ...  40.707612   -74.009378
4             1.0  2020-03-01 00:41:27  ...  40.707612   -74.009378
...           ...                  ...  ...        ...          ...
2923793       NaN  2020-03-09 17:30:00  ...  46.616630   -94.216935
2923794       NaN  2020-03-10 10:00:00  ...  46.616630   -94.216935
2923795       NaN  2020-03-17 06:48:00  ...  46.616630   -94.216935
2923796       NaN  2020-03-11 12:37:26  ...  40.578087   -73.974925
2923797       NaN  2020-03-19 14:12:00  ...  51.516541    -2.434635

[2923798 rows x 22 columns]

In [50]:
Main_df_loc_PU = Main_df_loc.rename(columns={'Latitude': 'PULatitude', 'Longitude':'PULongitude'})
Main_df_loc_PU

         VendorID tpep_pickup_datetime  ... PULatitude  PULongitude
0             1.0  2020-03-01 00:31:13  ...  40.707612   -74.009378
1             1.0  2020-03-01 00:05:44  ...  40.707612   -74.009378
2             2.0  2020-03-01 00:27:15  ...  40.707612   -74.009378
3             1.0  2020-03-01 00:29:40  ...  40.707612   -74.009378
4             1.0  2020-03-01 00:41:27  ...  40.707612   -74.009378
...           ...                  ...  ...        ...          ...
2923793       NaN  2020-03-09 17:30:00  ...  46.616630   -94.216935
2923794       NaN  2020-03-10 10:00:00  ...  46.616630   -94.216935
2923795       NaN  2020-03-17 06:48:00  ...  46.616630   -94.216935
2923796       NaN  2020-03-11 12:37:26  ...  40.578087   -73.974925
2923797       NaN  2020-03-19 14:12:00  ...  51.516541    -2.434635

[2923798 rows x 22 columns]

In [51]:
#Adding the Dropoff location's lat long

In [52]:
LookUp_df_DOLocation = LookUp_df_PULocation.rename(columns={'PULocationID': 'DOLocationID'})
LookUp_df_DOLocation

     DOLocationID   Latitude   Longitude
0               1  40.689064  -74.177255
1               2  40.603994  -73.835412
2               3  39.915319  -87.933215
3               4  40.725102  -73.979583
4               5  53.284833   -7.493904
..            ...        ...         ...
258           259  38.330050  -89.032569
259           260  37.429939 -122.253856
260           261  40.711888  -74.012441
261           262  40.778007  -73.948202
262           263  40.778007  -73.948202

[263 rows x 3 columns]

In [53]:
Main_df_loc_DO = Main_df_loc_PU.merge(LookUp_df_DOLocation, how='left', on='DOLocationID')
Main_df_loc_DO_Updated = Main_df_loc_DO.rename(columns={'Latitude': 'DOLatitude', 'Longitude':'DOLongitude'})
Main_df_loc_DO_Updated

         VendorID tpep_pickup_datetime  ... DOLatitude  DOLongitude
0             1.0  2020-03-01 00:31:13  ...  40.714622   -73.953450
1             1.0  2020-03-01 00:05:44  ...  40.778007   -73.948202
2             2.0  2020-03-01 00:27:15  ...  38.290348   -85.588294
3             1.0  2020-03-01 00:29:40  ...  40.729269   -73.987361
4             1.0  2020-03-01 00:41:27  ...  40.734186   -74.005580
...           ...                  ...  ...        ...          ...
2923793       NaN  2020-03-09 17:30:00  ...  40.666770   -73.751521
2923794       NaN  2020-03-10 10:00:00  ...  40.621215   -73.934860
2923795       NaN  2020-03-17 06:48:00  ...  40.826378   -73.867196
2923796       NaN  2020-03-11 12:37:26  ...  46.187885  -123.831256
2923797       NaN  2020-03-19 14:12:00  ...  40.636770   -74.158755

[2923798 rows x 24 columns]

In [54]:
#(40.5774, -74.15) & (40.9176,-73.7004)

In [55]:
Main_df = Main_df[(Main_df['total_amount']>0) & (Main_df['total_amount']<= 585.2633575955033)]
print(Main_df)

         VendorID tpep_pickup_datetime  ... trip_duration      speed
0             1.0  2020-03-01 00:31:13  ...     30.483333   9.250957
2             1.0  2020-03-01 00:52:18  ...      6.966667   9.473684
3             2.0  2020-03-01 00:47:53  ...      3.066667  17.021739
4             1.0  2020-03-01 00:43:19  ...     15.133333  17.444934
5             1.0  2020-03-01 00:04:43  ...     18.566667  11.310592
...           ...                  ...  ...           ...        ...
3007287       NaN  2020-03-31 23:21:00  ...     12.000000  27.150000
3007288       NaN  2020-03-31 23:57:00  ...     29.000000  27.331034
3007289       NaN  2020-03-31 23:22:01  ...     21.850000  33.336384
3007290       NaN  2020-03-31 23:18:53  ...     13.466667  31.232673
3007291       NaN  2020-03-31 23:11:00  ...     19.000000  19.926316

[2923798 rows x 20 columns]

In [56]:
Main_df_loc_DO_Updated_loc = Main_df_loc_DO_Updated[((Main_df_loc_DO_Updated['PULatitude']>40.5774) & (Main_df_loc_DO_Updated['DOLatitude']<40.9176)\
                                                      & (Main_df_loc_DO_Updated['PULongitude']>-74.15) & (Main_df_loc_DO_Updated['PULongitude']<-73.7004))]

In [57]:
#Data Clustering
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score

In [58]:
!pip install haversine
!pip install gpxpy

Collecting haversine
  Downloading https://files.pythonhosted.org/packages/f4/52/a13286844780c7b1740edbbee8a8f0524e2a6d51c068b59dda39a6a119f5/haversine-2.3.0-py2.py3-none-any.whl
Installing collected packages: haversine
Successfully installed haversine-2.3.0
Collecting gpxpy
  Downloading https://files.pythonhosted.org/packages/dd/23/a1c04fb3ea8d57d4b46cf2956c99a62dfbe009bbe091babeef90cc3d0ef6/gpxpy-1.4.2.tar.gz (105kB)
     |████████████████████████████████| 112kB 9.0MB/s
Building wheels for collected packages: gpxpy
  Building wheel for gpxpy (setup.py) ... done
  Created wheel for gpxpy: filename=gpxpy-1.4.2-cp36-none-any.whl size=42547 sha256=c620a69c74316edf36e1130a69f6f24b2d473e80d14c0642519404dfcb3664ac
  Stored in directory: /root/.cache/pip/wheels/d9/df/ed/b52985999b3967fa0ef8de22b3dc8ad3494ce3380d5328dd0f
Successfully built gpxpy
Installing collected packages: gpxpy
Successfully installed gpxpy-1.4.2

In [59]:
import geopy.distance
import haversine
import gpxpy

In [60]:
from sklearn.cluster import KMeans

In [61]:
loc_coords = Main_df_loc_DO_Updated_loc[['PULatitude', 'PULongitude']].values
kmeans = KMeans(n_clusters=30,random_state=0).fit(loc_coords)
Main_df_loc_DO_Updated['pickup_cluster_formed'] = kmeans.predict(Main_df_loc_DO_Updated[['PULatitude', 'PULongitude']])

In [62]:
import folium
global str

In [63]:
# Plotting the cluster centers on OSM
cluster_centers = kmeans.cluster_centers_
map_osm = folium.Map(location=[40.734695, -73.990372], tiles='Stamen Toner')
for i in range(len(cluster_centers)):
    folium.Marker(list((cluster_centers[i][0],cluster_centers[i][1]))).add_to(map_osm)
map_osm

In [64]:
Main_df_loc_DO_Updated['pickup_cluster_formed'].unique()

array([ 6, 25, 26, 24, 11,  7, 14,  3,  9, 15, 29,  2, 12,  0, 16,  4,  5,
        8, 10, 13, 28,  1, 21, 20, 27, 19, 23, 17, 22, 18], dtype=int32)

In [65]:
Main_df_loc_DO_Updated

         VendorID tpep_pickup_datetime  ... DOLongitude  pickup_cluster_formed
0             1.0  2020-03-01 00:31:13  ...  -73.953450                      6
1             1.0  2020-03-01 00:05:44  ...  -73.948202                      6
2             2.0  2020-03-01 00:27:15  ...  -85.588294                      6
3             1.0  2020-03-01 00:29:40  ...  -73.987361                      6
4             1.0  2020-03-01 00:41:27  ...  -74.005580                      6
...           ...                  ...  ...         ...                    ...
2923793       NaN  2020-03-09 17:30:00  ...  -73.751521                     25
2923794       NaN  2020-03-10 10:00:00  ...  -73.934860                     25
2923795       NaN  2020-03-17 06:48:00  ...  -73.867196                     25
2923796       NaN  2020-03-11 12:37:26  ... -123.831256                     15
2923797       NaN  2020-03-19 14:12:00  ...  -74.158755                      3

[2923798 rows x 25 columns]

In [66]:
Main_df_loc_DO_Updated[(Main_df_loc_DO_Updated['tpep_pickup_datetime']=='2020-02-29 23:45:00')]

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, trip_duration, speed, PULatitude, PULongitude, DOLatitude, DOLongitude, pickup_cluster_formed]
Index: []

In [67]:
#02/29/2020 @ 11:45pm (UTC)

In [68]:
Main_df_loc_DO_Updated.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'trip_duration', 'speed',
       'PULatitude', 'PULongitude', 'DOLatitude', 'DOLongitude',
       'pickup_cluster_formed'],
      dtype='object')

In [69]:
!pip install dask[complete]

Requirement already satisfied: dask[complete] in /usr/local/lib/python3.6/dist-packages (2.12.0)
Requirement already satisfied: cloudpickle>=0.2.1; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (1.3.0)
Requirement already satisfied: PyYaml; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (3.13)
Collecting partd>=0.3.10; extra == "complete"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Collecting distributed>=2.0; extra == "complete"
  Downloading https://files.pythonhosted.org/packages/b5/12/3c25bb53c9b508e6332b62c33a8806ec7a33c926d8e32e7e53df0b512b84/distributed-2020.12.0-py3-none-any.whl (669kB)
     |████████████████████████████████| 675kB 10.8MB/s
Requirement already satisfied: numpy>=1.13.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (1.19.4)
Requirement already satisfied: bokeh>=1.0.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (2.1.1)
Requirement already satisfied: toolz>=0.7.3; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (0.11.1)
Collecting fsspec>=0.6.0; extra == "complete"
  Downloading https://files.pythonhosted.org/packages/ec/80/72ac0982cc833945fada4b76c52f0f65435ba4d53bc9317d1c70b5f7e7d5/fsspec-0.8.5-py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 11.8MB/s
Requirement already satisfied: pandas>=0.23.0; extra == "complete" in /usr/local/lib/python3.6/dist-packages (from dask[complete]) (1.1.5)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Collecting contextvars; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/83/96/55b82d9f13763be9d672622e1b8106c85acb83edd7cc2fa5bc67cd9877e9/contextvars-2.4.tar.gz
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (5.1.1)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (1.0.1)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (2.3.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (1.7.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (7.1.2)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (5.4.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (50.3.2)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.0; extra == "complete"->dask[complete]) (2.0.0)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (20.8)
Requirement already satisfied: pillow>=4.0 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (7.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (3.7.4.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (2.8.1)
Requirement already satisfied: Jinja2>=2.7 in /usr/local/lib/python3.6/dist-packages (from bokeh>=1.0.0; extra == "complete"->dask[complete]) (2.11.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0; extra == "complete"->dask[complete]) (2018.9)
Collecting immutables>=0.9
  Downloading https://files.pythonhosted.org/packages/99/e0/ea6fd4697120327d26773b5a84853f897a68e33d3f9376b00a8ff96e4f63/immutables-0.14-cp36-cp36m-manylinux1_x86_64.whl (98kB)
     |████████████████████████████████| 102kB 10.6MB/s
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.0; extra == "complete"->dask[complete]) (1.0.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=16.8->bokeh>=1.0.0; extra == "complete"->dask[complete]) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->bokeh>=1.0.0; extra == "complete"->dask[complete]) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.7->bokeh>=1.0.0; extra == "complete"->dask[complete]) (1.1.1)
Building wheels for collected packages: locket, contextvars
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4042 sha256=ada6d5abc8e82edabac82b9dc433eab8f797e399c70141ee7d2adcd9dd88ab09
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
  Building wheel for contextvars (setup.py) ... done
  Created wheel for contextvars: filename=contextvars-2.4-cp36-none-any.whl size=7667 sha256=39c2e1f5f8793ed0118881808eb5a34706d2c47a2e0b8aa92306e2df133c0d32
  Stored in directory: /root/.cache/pip/wheels/a5/7d/68/1ebae2668bda2228686e3c1cf16f2c2384cea6e9334ad5f6de
Successfully built locket contextvars
ERROR: distributed 2020.12.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
ERROR: distributed 2020.12.0 has requirement dask>=2020.12.0, but you'll have dask 2.12.0 which is incompatible.
Installing collected packages: locket, partd, immutables, contextvars, distributed, fsspec
  Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
Successfully installed contextvars-2.4 distributed-2020.12.0 fsspec-0.8.5 immutables-0.14 locket-0.2.0 partd-1.1.0

In [70]:

from dask import dataframe as dd 

def convert_to_unix(s):
    return time.mktime(datetime.datetime.strptime(s, "%Y-%m-%d %H:%M:%S").timetuple())


duration = dd.from_pandas(Main_df_loc_DO_Updated[['tpep_pickup_datetime','tpep_dropoff_datetime']],npartitions=1).compute()
duration_pickup = [convert_to_unix(x) for x in duration['tpep_pickup_datetime'].values]

Main_df_loc_DO_Updated['pickup_times'] = duration_pickup

In [71]:
Main_df_loc_DO_Updated.head()

   VendorID tpep_pickup_datetime  ... pickup_cluster_formed  pickup_times
0       1.0  2020-03-01 00:31:13  ...                     6  1.583023e+09
1       1.0  2020-03-01 00:05:44  ...                     6  1.583021e+09
2       2.0  2020-03-01 00:27:15  ...                     6  1.583022e+09
3       1.0  2020-03-01 00:29:40  ...                     6  1.583023e+09
4       1.0  2020-03-01 00:41:27  ...                     6  1.583023e+09

[5 rows x 26 columns]

In [72]:
#Outlier!!!
Main_df_loc_DO_Updated = Main_df_loc_DO_Updated[(Main_df_loc_DO_Updated['pickup_times']>=1583020800)]
Main_df_loc_DO_Updated = Main_df_loc_DO_Updated[(Main_df_loc_DO_Updated['pickup_times']<1585980275)]

In [73]:
unix_pickup_times=[i for i in Main_df_loc_DO_Updated['pickup_times'].values]
fifteenminutewise_binned_unix_pickup_times=[(int((i-1583020800)/900)) for i in unix_pickup_times]
Main_df_loc_DO_Updated['pickup_bins'] = np.array(fifteenminutewise_binned_unix_pickup_times)

In [74]:
Main_df_loc_DO_Updated

         VendorID tpep_pickup_datetime  ...  pickup_times  pickup_bins
0             1.0  2020-03-01 00:31:13  ...  1.583023e+09            2
1             1.0  2020-03-01 00:05:44  ...  1.583021e+09            0
2             2.0  2020-03-01 00:27:15  ...  1.583022e+09            1
3             1.0  2020-03-01 00:29:40  ...  1.583023e+09            1
4             1.0  2020-03-01 00:41:27  ...  1.583023e+09            2
...           ...                  ...  ...           ...          ...
2923793       NaN  2020-03-09 17:30:00  ...  1.583775e+09          838
2923794       NaN  2020-03-10 10:00:00  ...  1.583834e+09          904
2923795       NaN  2020-03-17 06:48:00  ...  1.584428e+09         1563
2923796       NaN  2020-03-11 12:37:26  ...  1.583930e+09         1010
2923797       NaN  2020-03-19 14:12:00  ...  1.584627e+09         1784

[2923395 rows x 27 columns]

In [75]:
count = 0
for i in Main_df_loc_DO_Updated['pickup_times'].values:
  if i<1583020800:
    count=count+1
    print(i)

print(count)

0

In [76]:
print("No of pickup bins formed in a month: ", Main_df_loc_DO_Updated['pickup_bins'].unique().shape[0])
print (Main_df_loc_DO_Updated['pickup_bins'].max())
print (Main_df_loc_DO_Updated['pickup_bins'].min())

No of pickup bins formed in a month:  2972
2975
0

In [77]:
mar_2020_groupby = Main_df_loc_DO_Updated[['pickup_cluster_formed','pickup_bins','trip_distance']].groupby(['pickup_cluster_formed','pickup_bins']).count()

In [78]:
mar_2020_groupby

                                   trip_distance
pickup_cluster_formed pickup_bins
0                     0                       60
                      1                       64
                      2                       65
                      3                       56
                      4                       56
...                                          ...
29                    2971                     3
                      2972                     1
                      2973                     1
                      2974                     3
                      2975                     1

[71292 rows x 1 columns]

In [79]:
c=0
c1=0
lst=[]
for i in Main_df_loc_DO_Updated['pickup_bins']:
  if int(i)>int(2976):
      #print(i)
      c=c+1
      l=Main_df_loc_DO_Updated.iloc[c1]['pickup_times']
      print(l)
      lst.append(c1)
  c1=c1+1

In [80]:
#Time Binning Done!!!

In [81]:
#smoothing

In [82]:
mar_2020_unique = return_unique_bins(Main_df_loc_DO_Updated)

NameError: ignored

In [ ]:
#No of zero pickups in each bin
for i in range(30):
    print(i,"has total zero pickups: ",2976 - len(set(mar_2020_unique[i])))
    print('^'*60)

In [ ]:
mar_2020_fill = fill_zero_pickups(mar_2020_groupby['trip_distance'].values,mar_2020_unique)

mar_2020_smooth = smoothing_function(mar_2020_groupby['trip_distance'].values,mar_2020_unique)

In [ ]:

print("number of 15 min intravels among all the clusters ",len(mar_2020_fill))

In [ ]:
regions_final_list = []


for i in range(0,30):
    regions_final_list.append(mar_2020_smooth[2976*i:2976*(i+1)])

In [ ]:
#Time Series
import matplotlib.pyplot as plt

In [ ]:
first_x = list(range(0,2976))
for i in range(30):
    plt.plot(first_x,regions_final_list[i][:2976], color=plt.cm.gist_ncar(np.random.random()), label='2020 March')
    plt.legend()
    plt.show()

In [ ]:
Exponential_wgt_avg_pred_train = [i[:2079] for i in ewa_pred_list]
Exponential_wgt_avg_pred_test = [i[2079:] for i in ewa_pred_list]

test_EWA_standard = sum(Exponential_wgt_avg_pred_test, [])

In [ ]:
len(test_EWA_standard)

In [ ]:
#Data modeling
Model_features = []
target = []
Model_features = [0]*5
#The windows taken for Time series analysis is 5, on the basis of the window we are predicting the 6th unit time instance
for i in range(0, 30):
  Model_features = np.vstack((Model_features, [regions_final_list[i][region_index:region_index+5] for region_index in range(0,len(regions_final_list[i])-5)]))
  target.append(regions_final_list[i][5:])

Model_features = Model_features[1:]

In [ ]:
Model_features.shape

In [ ]:
#Splitting the dataset size in 70:30 Ratio
print("size of train data :", int(2971*0.7))
print("size of test data :", int(2971*0.3))

In [ ]:
#Train and test features

train_features_list =  [Model_features[i*2971:(2971*i+2079)] for i in range(0,30)]  

test_features_list = [Model_features[(2971*(i))+2079:2971*(i+1)] for i in range(0,30)]

In [ ]:
#Train and test labels
train_target = [i[:2079] for i in target]

test_target = [i[2079:] for i in target]

In [ ]:
len(train_target[1])

In [ ]:
train_target_standard = sum(train_target, [])
test_target_standard = sum(test_target, [])

In [ ]:
len(train_target_standard)

In [ ]:
len(test_target_standard)

In [ ]:
train_new_features = []
for i in range(0,40):
    train_new_features.extend(train_features_list[i])
test_new_features = []
for i in range(0,40):
    test_new_features.extend(test_features_list[i])

In [ ]:
columns = ['series 5','series 4','series 3','series 2','series 1']
df_train = pd.DataFrame(data=train_new_features, columns=columns) 

df_test = pd.DataFrame(data=test_new_features, columns=columns)

In [ ]:
df_train

In [ ]:
#Exponential Weighted Average

In [ ]:
MAE_list = []
MSE_list = []

In [ ]:
MSE_list.append(mean_squared_error(test_target_standard, test_EWA_standard))
MAE_list.append(mean_absolute_error(test_target_standard, test_EWA_standard))

In [ ]:
#Linear Regression
from sklearn.linear_model import LinearRegression

In [ ]:
linear=LinearRegression()
linear.fit(df_train, train_target_standard)
y_pred = linear.predict(df_test)

In [ ]:
len(y_pred)

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
MSE_list.append(mean_squared_error(test_target_standard, y_pred))
MAE_list.append(mean_absolute_error(test_target_standard, y_pred))

In [ ]:
#RandomForest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
random_forest_reg = RandomForestRegressor()
random_forest_reg.fit(df_train, train_target_standard)
y_pred_rf = random_forest_reg.predict(df_test)

In [ ]:
MSE_list.append(mean_squared_error(test_target_standard, y_pred_rf))
MAE_list.append(mean_absolute_error(test_target_standard, y_pred_rf))

In [ ]:
#XGBoost Regressor

In [ ]:
from xgboost.sklearn import XGBRegressor

In [ ]:
xgbreg = XGBRegressor()

xgbreg.fit(df_train, train_target_standard)
y_pred_xgb = xgbreg.predict(df_test)

In [ ]:
MSE_list.append(mean_squared_error(test_target_standard, y_pred_xgb))
MAE_list.append(mean_absolute_error(test_target_standard, y_pred_xgb))

In [ ]:
#Decision tree Regressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
DTreg = DecisionTreeRegressor(random_state=0)

DTreg.fit(df_train, train_target_standard)
y_pred_DT = DTreg.predict(df_test)

In [ ]:
MSE_list.append(mean_squared_error(test_target_standard, y_pred_DT))
MAE_list.append(mean_absolute_error(test_target_standard, y_pred_DT))

In [ ]:
Models = ['Base Line Model','Linear Regression', 'Random Forest Regressor', 'XGBRegressor', 'Decision Tree Regressor']

In [ ]:
PerformanceTable = pd.DataFrame(list(zip(Models, MSE_list, MAE_list)), columns=['Models', 'MSE', 'MAE'])

In [ ]:
PerformanceTable